.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#appbar-container {
    margin: -8px;
    background-image: url("./assets/appbar_background.svg");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: -10px -255px;
    /* background-color: red; */
    height: 190px;
}


#calculate-button {
    background-color: #4f378b;
    color: white;
    height: 40px;
    font-weight: bold;
    border: 1.5px solid w;
    border-radius: 20px;
    font-size: 16px;
}
